//- form.form-horizontal(action='/upload', method='POST', enctype='multipart/form-data') Select an image to upload:
	input.form-control#entry_1129696838(name='entry.1129696838')
	input(type='file', name='image')
	input(type='submit', value='Upload Image')


form.form-horizontal#ss-form(action='/upload', method='POST', enctype='multipart/form-data')
	.row
		.form-group
			.col-md-2
				label.control-label 團隊名稱
			.col-md-6
				input.form-control(name='team')
	.row
		.form-group
			.col-md-2
				label.control-label 聯絡人
			.col-md-4
				input.form-control(name='contact')
		.form-group
			.col-md-2
				label.control-label 手機
			.col-md-4
				input.form-control(name='phone')
		.form-group
			.col-md-2
				label.control-label 電子信箱
			.col-md-4
				input.form-control(name='mail')
		.form-group
			.col-md-2
				label.control-label 概念名稱
			.col-md-4
				input.form-control(name='idea')
		.form-group
			.col-md-2
				label.control-label 產業
			.col-md-4
				input.form-control(name='industry')

	.row
		.form-group
			.col-md-2
			.col-md-9
				.row
					.col-md-3.col-xs-6
						a.btn.square(target="_blank" href="https://drive.google.com/open?id=0B9yjqHZxgz58S3F0WWZpczYySm8")
							img(src='seed/images/PDFicon.png')
							br
							label.control-label 臺大種子創業競賽
							br
							| 報名須知
					.col-md-3.col-xs-6
						a.btn.square(target="_blank" href="https://drive.google.com/open?id=0B9yjqHZxgz58V3ltQXZlSVNmXzQ")
							img(src='seed/images/PDFicon.png')
							br
							label.control-label 臺大鑽石種子基金
							br
							| 切結書
					.col-md-3.col-xs-6
						a.btn.square(target="_blank" href="https://drive.google.com/open?id=0B9yjqHZxgz58OU9MbmlxX3RaRnc")
							img(src='seed/images/PDFicon.png')
							br
							label.control-label 臺大鑽石
							br
							| 股權同意書
					div.col-md-3.col-xs-6(style='color: #EB6141;')
						a.btn.square(target="_blank" href='https://drive.google.com/open?id=0B9yjqHZxgz58WkYyc21lWFJWR1U')
							img(src='seed/images/download_icon.png')
							br
							label.control-label 臺大種子創業競賽
							br
							| 報名表格
	.row
		.form-group
			.col-md-2
			.col-md-9
				.input-group
					//- span.input-group-btn
					span.input-group-addon.btn.s.btn-file 報名表格上傳
						input(type="file" name="attach_file")
					input#file_text.form-control
	.row
		.form-group
			.col-md-2
			.col-md-9
				button.btn.rec_btn.s#ss_submit(style='width: 100%; margin: 0;' type='submit' name='submit')
					span(style='margin-right: 20px;')
						img(src='seed/images/plus_symbol.png' style='width: auto; margin-top: -4px;')
					| 報名







