div.row.text-align-center.hidden-xs.hidden-sm
	div.col-md-1
	div.col-md-2.col-xs-12
		div.row
			div.col-md-9
				div.circle#c_1
					h1 1
					h4 線上報名
					h4 &nbsp;
					div.des
						h4 透過網路系統填寫報名表
						h4 上傳「創業計畫說明書」
						h4 報名時間 9/21(一) 00:00 起
						h4 至 9/30(三) 23:59 截止
			div.col-md-3
				div.arrow
	div.col-md-2.col-xs-12
		div.row
			div.col-md-9
				div.circle
					h1 2
					h4 第一階段
					h4 初選審查
					div.des
						h4 評審將依據  
						h4 創新性 40%  &nbsp; 市場發展潛力 30%  &nbsp; 構想可行性 30%
						h4 進行評分，選出決選隊伍
			div.col-md-3
				div.arrow
	div.col-md-2
		div.row
			div.col-md-9
				div.circle
					h1 3
					h4 決選名單公布
					h4 &nbsp;
					div.des
						h4 10/15 公佈 30 組隊伍名單
						h4 進入決選，上台簡報
			div.col-md-3
				div.arrow
	div.col-md-2
		div.row
			div.col-md-9
				div.circle
					h1 4
					h4 第二階段
					h4 決選簡報
					div.des
						h4 10/30 (五) 13:00 - 17:00 
						h4 @張榮發基金會 11F 國際會議中心 (捷運臺大醫院站）
						h4 每隊上台 5 分鐘，說服評審支持你的創業構想
						h4 獲得 50 萬元創業基金！
			div.col-md-3
				div.arrow
	div.col-md-2
		div.circle
			h1 5
			h4 簽訂合約
			h4 發放獎金
			div.des(style='margin:0 -50% 0 -50%;')
				h4 簽訂合約，發放第一輪創業基金 25 萬元
				h4 3 個月後提交「進度報告書」
				h4 領取第二輪創業基金
	div.col-md-1
div.row.text-align-center.hidden-md.hidden-lg
	div.row
		div.col-xs-4
		div.col-xs-4
			div.circle
				h1 1
				h4 線上報名
	div.row
		h4 透過網路系統填寫報名表
		h4 上傳「創業計畫說明書」
		h4 報名時間 9/21(一) 00:00 起
		h4 至 9/30(三) 23:59 截止
		br
	div.row
		div.col-xs-4
		div.col-xs-4
			div.circle
				h1 2
				h4 第一階段
				h4 初選審查
	div.row
		h4 評審將依據  
		h4 創新性 40%  &nbsp; 市場發展潛力 30%  &nbsp; 構想可行性 30%
		h4 進行評分，選出決選隊伍
		br
	div.row
		div.col-xs-4
		div.col-xs-4
			div.circle
				h1 3
				h4 決選名單公布
	div.row
		h4 10/15 公佈 30 組隊伍名單
		h4 進入決選，上台簡報
		br
	div.row
		div.col-xs-4
		div.col-xs-4
			div.circle
				h1 4
				h4 第二階段
				h4 決選簡報
	div.row
		h4 10/30 (五) 13:00 - 17:00 
		h4 @張榮發基金會 11F 國際會議中心 (捷運臺大醫院站）
		h4 每隊上台 5 分鐘，說服評審支持你的創業構想
		h4 獲得 50 萬元創業基金！
		br
	div.row
		div.col-xs-4
		div.col-xs-4
			div.circle
				h1 5
				h4 簽訂合約
				h4 發放獎金
	div.row
		h4 簽訂合約，發放第一輪創業基金 25 萬元
		h4 3 個月後提交「進度報告書」
		h4 領取第二輪創業基金
	
	
	
	
