div.float_center
	div.circle#c_1
		h1 1
		h4 線上報名
		h4 &nbsp;
		div.des
			h4 填寫表單並上傳創業說明書
			h4 報名時間即日起 ~ 4/13 號 12:00
	div.arrow
	div.circle
		h1 2
		h4 第一階段
		h4 企劃書審查
		div.des
			h4 評審將依據  
			h4 創新性 40%  &nbsp; 市場發展潛力 30%  &nbsp; 構想可行性 30%
			h4 進行給分
	div.arrow
	div.circle
		h1 3
		h4 上台名單公布
		h4 &nbsp;
		div.des
			h4 4/27 公佈 30 組決選名單
			h4 參加五分鐘創業競賽
	div.arrow
	div.circle
		h1 4
		h4 五分鐘種子
		h4 創業競賽
		div.des
			h4 5/8(五) 14:00 ~ 18:00
			h4 每組上台五分鐘，時間一到消音下台
			h4 請在時間內說服評審給你50萬創業基金，驗證你的想法！
	div.arrow
	div.circle
		h1 5
		h4 簽訂合約
		h4 發放獎金50萬
		div.des(style='margin:0 -50% 0 -50%;')
			h4 簽訂合約，50萬獎金一次發放
			h4 並在六個月內主動提交創業概念驗證結果報告