div.row
	div.col-md-1.col-xs-1.left
		span.red Q
	div.col-md-10.col-xs-10
		p 請問畢業校友可以報名嗎？
div.row
	div.col-md-1.col-xs-1.left
		span.red A
	div.col-md-10.col-xs-10
		p 可以，只要團隊成員內有至少一位臺大學生或校友即可參賽。
hr
br
div.row
	div.col-md-1.col-xs-1.left
		span.red Q
	div.col-md-10.col-xs-10
		p 請問獎金發放方式？
div.row
	div.col-md-1.col-xs-1.left
		span.red A
	div.col-md-10.col-xs-10
		p 主辦單位為善盡種子基金有效運用之管理責任，並得以適時提供種子團隊協助，獎金將分為兩期發放，每期二十五萬元整（含稅）。團隊自實領第一期獎勵金後三個月內，提交「創業進度報告書」予主辦單位，並參與種子團隊期中交流，若獲獎團隊進度符合原階段目標，或提報營運資料足資證明團隊致力於實現創業構想，則可辦理第二期獎金撥款事宜。
hr
br
div.row
	div.col-md-1.col-xs-1.left
		span.red Q
	div.col-md-10.col-xs-10
		p 是否餅越大，越容易拿獎呢？
div.row
	div.col-md-1.col-xs-1.left
		span.red A
	div.col-md-10.col-xs-10
		p 不是的，我們的評審標準會針對產品創新程度 40%、可行性 30%、產品商機 30% 進行評估。
hr
br
div.row
	div.col-md-1.col-xs-1.left
		span.red Q
	div.col-md-10.col-xs-10
		p 已有工作室或行號可來申請嗎？
div.row
	div.col-md-1.col-xs-1.left
		span.red A
	div.col-md-10.col-xs-10
		p 比賽辦法規定，若貴單位已成立公司則不符合此條件，比賽辦法內未禁止者，則可以申請比賽。因此擁有工作室但是未成立公司，是符合申請條件的。
hr
br
div.row
	div.col-md-1.col-xs-1.left
		span.red Q
	div.col-md-10.col-xs-10
		p 若負責人已有自己的公司，可否另外以未成立公司之團隊參賽？
div.row
	div.col-md-1.col-xs-1.left
		span.red A
	div.col-md-10.col-xs-10
		p 比賽辦法並未明文禁止，所以是可以的。但評分標準包含可行性項目(30%)，因此評審可能會因疑慮負責人是否能同時兼顧公司與競賽計畫，而影響評選成績。

hr
br
div.row
	div.col-md-1.col-xs-1.left
		span.red Q
	div.col-md-10.col-xs-10
		p 同一個人可以同時參加兩個(以上)的團隊嗎？
div.row
	div.col-md-1.col-xs-1.left
		span.red A
	div.col-md-10.col-xs-10
		p 比賽辦法並未明文禁止，所以是可以的。但創業本來就需要投入大量心力，不建議您同時參與多個專案，評分標準包含可行性項目(30%)，評審對於同時參與多個專案的可行性可能存有疑慮，而影響您的評選成績。
