/*@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");*/


@media screen and (min-width: 0px) and (max-width: 970px) {

	#banner1_right {
		width: 100%;
	}

	.left-border { 
		border: none;
	}

	#div_apply #apply_ing {

		text-align: center;
	}

	.circle .des {

		opacity: 1;
	}

	#div_sponsor img{

		height: 70px;
		margin-bottom: 10px;
		padding: 0 15px 0 15px;
	}
}

@media screen and (min-width: 970px) {

	#banner1_right {
		margin-left: -30% !important;
		height: 85vh;
		
	}

	.left-border {
		border-left: 1px solid #000000;
	}	

	.navbar-nav > li > a {
		padding-top: 0;
		/*padding-bottom: 57px;*/
		padding-right: 20px;

		font-size: 110%;

		background-color: white;
	}

	#div_apply #apply_ing {

		text-align: right;
	}

	.circle .des {

		opacity: 0;
	}

	#div_sponsor img{

		height: 90px;
		margin-bottom: 30px;
		padding: 0 25px 0 25px;
	}
}



body {
    /*min-height: 2000px;*/
    /*padding-top: 130px;*/
    overflow-x: hidden;
    font-family: 'LiHei', '微軟正黑體', "adobe-clean",helvetica,arial,sans-serif;
}

p {
	/*white-space: pre;*/
}

.navbar-nav > li > a:hover {

	background-color: white;
}

.nav > li > a:focus {

	background-color: white;
}

.navbar-custom {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
}





.navbar-fixed-top a {
	color: #808080;
	background-color: white;
}

.navbar-fixed-top .active a {
	color: #EB6141;
	background-color: white;
}




.btn.focus, .btn:focus, .btn.hover {
	background-color: #EB6141;	
}


.btn.rec_btn {

	width: 200px;
	height: 60px;
	background-color: #EB6141;
	padding: 10px;
	border-radius: 0px;
	margin: 1%;

	text-align: center;
	color: white;
	font-size: 200%;
}

.btn.rec_btn.s {


	width: 130px;
	height: 47px;

	margin-top: 35px;
	margin-right: 50px;
	margin-left: 20px;

	font-size: 100%;
}

.btn.rec_btn.xs {

	/*margin-top: 50px;*/

	width: 140px;
	height: auto;
	background: transparent;
	/*padding: 10px;*/
	border-radius: 1px;
	border-color: #EB6141;
	margin: 0;

	text-align: center;
	color: #EB6141;
	/*font-weight: bold;*/
	font-size: 100%;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}

.grey_bg {
	background-color: #f4f1f1;
}

.white_bg {
	background-color: #FFFFFF;
}

.grey_border {
	border: 1px solid #CCCCCC;
}

.text-align-center {
	text-align: center;
}

.float_center {
	float: right;

	position: relative;
	left: -50%; /* or right 50% */
	text-align: left;
}

.float_center > * {

	float: left;
	position: relative;
	left: 50%;
	display: inline;

}

.circle { 

	width: 170px;
	height: 170px;
	border-radius: 100px;
	/*border-color: black;
	border-width: 2px;*/
	border: 2px solid #CCCCCC;
	margin-bottom: 5%;

	color: #4D4D4D;
	/*line-height: 150px;*/
	text-align: center;
	background: #F8F7F7;
}

.circle h1 {
	color: inherit;
	line-height: 110%;
}

.circle h4 {
	line-height: 100%;	
}

.circle .des {

	text-align: center; 
	padding-top: 25%; 
	margin:0 -100% 0 -100%;
}

.arrow {

	margin: 65px 20px 0px 20px;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 0 20px 20px;
	border-color: transparent transparent transparent #CCCCCC;

}

.bx-wrapper {
	margin: 0 auto 0;
}

.bx-wrapper .bx-prev {
	left: 20px;
	background: url(/images/controls.png) no-repeat 0 -32px;
	opacity: 0.5;
}

.bx-wrapper .bx-next {
	right: 20px;
	background: url(/images/controls.png) no-repeat -43px -32px;
	opacity: 0.5;
}




#banner_fst {
	height: 100vh;
	text-align: center;
	background-image: url('/seed/images/banner1_bg.png');
	background-repeat: repeat;
}

#banner_snd {
	height: 100vh;
	text-align: center;
	background-image: url('/seed/images/banner2_bg.png');
	background-repeat: repeat;
}

#banner {

	padding-top: 100px;
	text-align: center;
}

#banner img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {

	padding-top: 5%;
	padding-bottom: 5%;

	text-align: center;	
	color: #4D4D4D;

}

.extra-padding {
	padding: 5%;
}

.content {

	line-height: 180%;
	font-size: 130%;

	white-space: pre;
}


h1 {
	font-size: 350%;
	font-weight: bold;

	text-align: center;
	color: #EB623F;

	/*padding-bottom: 10%;*/
}

h2 {
	font-weight: bold;
}


.red {
	color: #EB623F;
}

.div_hide {

	overflow: hidden;
}

#div_news a {
	color: inherit;
    /*display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;*/
} 

#div_news .panel-div {
    display: block;
    background-color: #f4f1f1;
    border: 1px solid #CCCCCC;
    padding: 10px 10px 10px 35px;
    cursor: pointer;
}

#div_news .panel-div.active {

	color: #EB623F;
	background-color: white;
}


.panel-body {

	padding: 30px 10px 30px 35px;
	border: 1px solid #CCCCCC;
	font-size: 120%;
}


.stage {
	background-color: #F9B410;
	text-align: center;
	color: white;

	padding: 3%;
}

.stage > h2 {
	
	font-size: 250%;
	padding-bottom: 1%;
}

.stage.second {
	background-color: #EB6141;
}


.inner-padding {

	font-size: 120%;
	padding:5%;

}

#div_apply #apply_done {

	text-align: center;
	color: #CCCCCC;
	display: none;
}



#div_apply .control-label {
	font-weight: normal;
}

#div_apply .square {

	width:100%; 
	border: 1px solid #CCCCCC;
}

#div_apply a {

	color: inherit;
	text-decoration: none;
}


#div_qna .qna-body {
	
	padding: 5% 0 5% 0;
	font-size: 130%;
	line-height: 160%;
}

#div_qna .left {
	text-align: right;
	padding: 0;
	font-weight: bold;

}

#div_sponsor {
	text-align: center;
}


#div_sponsor img{

	/*height: 100px;*/
	
}



#footer1 {
	margin: 0px;
	min-height: 300px;
	padding: 2% 10% 0% 10%;

	background-color: #4D4D4D;

	text-align: left;
	color: #CCCCCC;
	line-height: 200%;
	
}

#footer1 a {
	color: inherit;
	text-decoration: none;
}

#footer2 {
	
	background-color: #333333;
	margin-top: 1px;
	padding: 1%;

	font-size: 100%;
	color: #AAAAAA;
}

.vcenter {

    display: inline-block;
    vertical-align: middle;
    float: none;
}
